---
    layout: page
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/pygment_trac.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/social.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

<div class="wrapper">
    <header>
      
            <img src="../image.jpg" /> <br>
        
    <div class="socialbtns">
      <p>
        <b><font size=4px>OZAN YILDIZ</font></b><br>
        <p>
          <a href="mailto:oyldz93@gmail.com"><i class="soc fas fa-lg
          fa-envelope fa-fw"></i></a>
          <a href="https://www.linkedin.com/in/ozanyildiz93"><i class="soc
          fab fa-lg fa-linkedin-in"></i></a>
          <a href="https://github.com/ozanyildiz93"><i class="soc fab fa-lg fa-github"></i></a>
          <a href="CV.pdf"><font size=3px style="font-weight: bold"> CV</font></a>
        </p>
      </p>
    </div>

    </header>
    <section>

    {{ content }}

    </section>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>